XSD/customization-offer-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wsapi.guthy-renker.com/soma-snapshot/customization-offer/201501" xmlns="http://wsapi.guthy-renker.com/soma-snapshot/customization-offer/201501" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="statusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="V"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inclusionEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Base"/> 
			<xs:enumeration value="Mandatory"/>
			<xs:enumeration value="Optional"/>
			<xs:enumeration value="NotAvailable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nullableInt">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:short"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="customizationOffer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="statusEnum">
								<xs:attribute name="name" use="optional" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="hostProductLineCode" type="xs:string"/>
				<xs:element name="startDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="endDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="priceGroupId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="table" use="required" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="shippingTableId" type="xs:string"/>
				<xs:element name="totalQuantity">
					<xs:complexType>
						<xs:attribute name="min" use="required" type="xs:short"/>
						<xs:attribute name="max" use="required" type="xs:short"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="selectionGroups" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="selectionGroup">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="kitItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="inclusion" type="inclusionEnum"/>
													<xs:element name="productId" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
													<xs:element name="quantity" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="min" use="optional" type="xs:short"/>
															<xs:attribute name="max" use="optional" type="nullableInt"/>
															<xs:attribute name="auto" use="optional" type="xs:short"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="kitPricing">
					<xs:complexType>
						<xs:choice minOccurs="0">
							<xs:element name="floorPrice" type="xs:decimal"/>
							<xs:element name="adjustmentAmount" type="xs:decimal"/>
						</xs:choice>
						<xs:attribute name="currency" use="required" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="omxData">
					<xs:complexType>
						<xs:attribute name="cid" use="required" type="xs:int"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="snapshot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="currentAsOf" type="xs:dateTime"/>
				<xs:element ref="customizationOffer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="snapshots">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="currentAsOf" type="xs:dateTime"/>
				<xs:element name="customizationOffers">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="customizationOffer" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="query" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
