XSD/pricelist-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wsapi.guthy-renker.com/soma-schema/pricelist/201501" xmlns="http://wsapi.guthy-renker.com/soma-schema/pricelist/201501" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="intentEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KC"/>
			<xs:enumeration value="CAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="V"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="priceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="statusEnum">
								<xs:attribute name="name" use="optional" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="hostProductLineCode" type="xs:string"/>
				<xs:element name="startDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="endDate" type="xs:dateTime" nillable="true"/>
				<xs:element name="priceClass" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" use="required" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="products">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="product" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="productId" type="xs:string"/>
										<xs:element name="description" type="xs:string" minOccurs="0"/>
										<xs:element name="price" maxOccurs="unbounded" nillable="true">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:decimal">
														<xs:attribute name="class" use="required" type="xs:string"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="omxData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="omxKitBook" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:int">
											<xs:attribute name="class" use="required" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="cid" use="required" type="xs:int"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="intent" use="required" type="intentEnum"/>
			<xs:attribute name="currency" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="snapshot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="currentAsOf" type="xs:dateTime"/>
				<xs:element ref="priceList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="snapshots">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="currentAsOf" type="xs:dateTime"/>
				<xs:element name="priceLists">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="priceList" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="query" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
